
head {
	background-color: orange;
	font-color: red;
}
body{
	background-color: yellow;
	font-family: courier, monospace;
	color: red;
}

h1{
	background-color: orange;
}

p{
	background-color: orange;
}