body{
	background-image: url("file:///Users/student/Desktop/hitting.jpg")
	
}
h1{
	
	color: #7FFF01;
	font-size: 360%;
	margin-top: 16%;
	margin-left: 50%;
}
button{
	style: none;
	margin-bottom: 7%;
	margin-left: 60%;

}