
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

ul{
	style: none;
	color: white;
	padding-left: 25%;
}

h1{
	color: white;
	padding-left: 25%;
}

body{
  font: normal medium/1.4 sans-serif;
}

body { padding-bottom: 70px; }

.container{
  border-collapse: collapse;
  width: 100%;
}


ul{padding:1% 2%;}


.container {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  background-color: #D10000;
  color: #151084;
  font-size: 100%;
} 
header{
        background-color: black;
}
h2{
        background-color: gray;
        margin-bottom: 2%;
        padding: 1% 2%;
		color: white;
		text-shadow: 4px 4px 4px black;
}
h1{
        font-size: 400%;
		text-shadow: 4px 4px 4px black;
}
h3{
        background-color: white;
        margin-top: 2%;
		color: black;
}
section{
        width: 100%;

}

button{
	size: large;
}


#container{
        margin: 0 auto;
        width: 960px;
}
p{
        padding: 1% 5%;
		color: black;
		text-shadow: 4px 4px 4px white;}
		
		p:hover{
			background-color: #B3B3B3;
		}
