
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

ul{
	style: none;
}
body{
  font: normal medium/1.4 sans-serif;
}

body { padding-bottom: 70px; }

.container{
  border-collapse: collapse;
  width: 100%;
}

h2:hover {
  background: yellow;
}

ul{padding:1% 2%;}


.container {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  background-color: #1ABC9C;
  color: #151084;
  font-size: 100%;
} 
header{
        background-color: orange;
}
h2{
        background-color: white;
        margin-bottom: 2%;
        padding: 1% 2%;
}
h1{
        font-size: 400%;
}
h3{
        background-color: pink;
        margin-top: 2%;
}
section{
        width: 100%;

}

button{
	font-size: 150%;
	margin-right: 10%;
}

#container{
        margin: 0 auto;
        width: 960px;
}
p{
        padding: 1% 5%;
}