* {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

}

.container {
        width: 9450px;
        margin: 0 auto;
}

body{
	background-color: #BD0000;
	
}
#top{
	background-color: black;
}

h1{
	color: white;
	font-family Tahoma Geneva sans-serif;
	font-size: 450%;
	background-color: black;
	margin: 0 auto;
	padding: 3% 0 3% 20%;
	text-shadow: 5px 5px 5px gray 
}



.Bella{
	float:right;
}

button{
	background-color: #7FFF01;
	color: red;
	font-size: 125%;
	margin-left: 8%;
	padding: .5% .5% .5% .5%;
}
	


h2{
	padding: 2%;
	font-size: 200%;
	margin-left: 25%;
	text-shadow: 3px 3px 3px #C0C0C0;
	
}

p{
	color: #C0C0C0;
	font-size: 130%;
	margin: 0 auto;
	padding: 3% 5% 3% 3%;
	text-shadow: 2px 2px 2px black;
	
}